<%- include("partials/header")%>
<h2>Champions</h2>
<br>
<section>
    <% for (let champ of champion){%>
        <div id="champlist">
            <a href="/Champions/<%= champ.id%>">
                <img class= "image" src="<%= champ.imageUrl %>" alt="<%= champ.name %>">
            </a>
            <p>Name: <%= champ.name %></p>
            <p>Id: <%= champ.id %></p>
            <p>releasedate: <%= champ.releasedate %></p>
            <p>role: <%= champ.role %></p>
            <p>race: <%= champ.race %></p>
            <% if(user.role === "ADMIN") {%>
            <a href="/<%= champ.id%>/update"><button type="button">Edit</button></a>
            <%}%>
        </div>
    <%}%>
</section>
<%- include("partials/footer")%>
