<%- include("partials/header")%>
<h2>Champions</h2>
<br>
<section>
    <% for (let champ of champion){%>
        <div>
            <a href="/Champions/<%= champ.id%>">
                <img class= "image" src="<%= champ.imageUrl %>" alt="<%= champ.name %>">
            </a>
            <p><%= champ.name %></p>
            <p><%= champ.id %></p>
            <p><%= champ.releasedate %></p>
            <p><%= champ.role %></p>
            <p><%= champ.race %></p>
            <a href="/<%= champ.id%>/update"><button type="button">Edit</button></a>
        </div>
    <%}%>
</section>
<%- include("partials/footer")%>
