<%- include("partials/header")%>
    <h1>Welkom naar het League of legends info bar</h1>
    <form action="/" method="get">
        <label for="search">Zoeken op naam</label>
        <input type="text" id="search" name="q" value="<%= q %>" placeholder="zoeken">
        <button type="submit">Zoeken op naam</button>
        <% for (let field of sortFields) { %>
                <a href="?sortField=<%= field.value %>&sortDirection=<%= field.value === sortField ? sortDirection === 'asc' ? 'desc' : 'asc' : 'asc' %>">
                    <%= field.text %>
                    <% if (field.value === sortField) { %>
                    <% } %>
                </a>
        <% } %>
    </form>
    <br>
    <section>
        <% for (let champ of champion){%>
            <div>
                <a href="/Champions/<%= champ.id%>">
                    <img class= "image" src="<%= champ.imageUrl %>" alt="<%= champ.name %>">
                </a>
                <p><%= champ.name %></p>
                <p><%= champ.id %></p>
                <p><%= champ.releasedate %></p>
                <p><%= champ.role %></p>
                <p><%= champ.race %></p>
            </div>
        <%}%>
    </section>
<%- include("partials/footer")%>
