<%- include("partials/header")%>
    <h2>Regions</h2>
    <br>
    <section>                   
        <% for (let champ of champion){%>
            <div>
                <a href="/Regions/<%= champ.region.id%>">
                    <img class="image" src="<%= champ.region.regionEmblemUrl %>" alt="">
                </a>
                <p>Region Id: <%= champ.region.id %></p>
                <p>Region Name: <%= champ.region.name %></p>
                <p>Region Government: <%= champ.region.Government %></p>
                
            </div>
        <%}%>
    </section>
<%- include("partials/footer")%>