<%- include("partials/header")%>
<h2>Champions</h2>
<form action="/" method="get">
    <label for="search">Zoeken op naam</label>
    <input type="text" id="search" placeholder="zoeken">
</form>
<br>
<section>
    <% for (let i = 0; i< Champ.length; i++){%>
        <div>
            <a href="/champions.ejs/<%= Champ[i].id%>">
                <p><%= Champ[i].name %></p>
                <img class= "image" src="<%= Champ[i].imageUrl %>" alt="<%= Champ[i].name %>">
            </a>
        </div>
    <%}%>
</section>
<%- include("partials/footer")%>
