<%- include("partials/header")%>
    <h1>Welkom naam het League of legends info bar</h1>
    <form action="/" method="get">
        <label for="search">Zoeken op naam</label>
        <input type="text" id="search" placeholder="zoeken">
    </form>
    <br>
    <section>                   
        <% for (let i = 0; i< Champ.length; i++){%>
            <div>
                <a href="/champions.ejs/<%= Champ[i].id%>">
                    <p><%= Champ[i].name %></p>
                    <img class= "image" src="<%= Champ[i].imageUrl %>" alt="<%= Champ[i].name %>">
                </a>
                <a href="/regions.ejs/<%= Champ[i].region.id %>">
                    <p><%= Champ[i].region.name %></p>
                    <br>
                    <img src="<%= Champ[i].region.regionEmblemUrl %>" alt="">
                </a>
                <p><%= Champ[i].story %></p>
            </div>
        <%}%>
    </section>
<%- include("partials/footer")%>
